<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Cadastro de Aluno</h2>

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome" required>
            </div>

            <div class="form-group">
                <label for="curso">Curso:</label>
                <input type="text" class="form-control" id="curso" name="curso" placeholder="Digite o curso" required>
            </div>

            <div class="form-group">
                <label for="turma">Turma:</label>
                <input type="text" class="form-control" id="turma" name="turma" placeholder="Digite a turma" required>
            </div>

            <div class="text-center">
                <a href="alunos">Enviar</a>
            </div>
        </form>
    </div>
</body>
</html>