{% extends "inicio.html" %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} Cadastro {% endblock %}

    </title>
</head>
<body>
    {% block content %}
    <h1>Bem-vindo à Escola ABC</h1>
    <p>A Escola ABC oferece cursos de qualidade para alunos de todas as idades. Nossa missão é fornecer um ensino que prepare nossos alunos para o futuro com dedicação e excelência.</p>

    <p>Se você está buscando um lugar para aprender e crescer, a Escola ABC é o lugar certo. Estamos aqui para ajudá-lo a alcançar seus objetivos e conquistar o sucesso acadêmico!</p>
    {% endblock %}
</body>
</html>