{% extends "inicio.html" %}

{% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} Cadastro {% endblock %}

    </title>
    
</head>
<body>
    {% block content %}
        <div class="row"> <!---Inicio da primeira linha-->
        <div class="col-11"> <!--Inicio primeira coluna--->
            <h4><strong>Alunos cadastrados</strong></h4>
        </div> <!--Fim primeira coluna--->
        <div class="col-1"> <a href="/inicio/" class="btn btn-primary btn-sm">Cadastrar</a> </div>
        
    </div>
    <div class="row"> <!--Inicio segunda linha--->
        <table class="table text-center">
            <thead>
             <tr>
                <th scope="col">Nome:</th>
                <th scope="col">Curso:</th>
                <th scope="col">Turma:</th>
             </tr>
            </thead>
            <tbody>
                {% for alu in alunos %}
                <tr>
                    <th>{{ alu.nome }}</th>
                    <td>{{ alu.curso }}</td>
                    <td>{{ alu.turma }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
</body>
</html>